canvas{
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}
.canvas{
  width: 500px;
  height: 500px;
}
.canvas-small{
  width: 250px;
  height: 250px;
}
*{
  box-sizing: border-box;
}
body{
  margin: 0;
}
.panel{
  display: flex; 
  flex-direction: column;
  width: 500px;
  margin-left: 20px;
}
.panel-small{
  width: 300px;
}
.row{
  display: flex;
  flex-direction: row;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

button, label{
  margin-top: 5px;
}

#trained{
  display: none;
}